

html,
body {
  background: #000 url('../public/img/bg.jpg') no-repeat center center/cover;
  height: 100vh;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 20px;
}

.btn {
  display: inline-block;
  color: #fff;
  background-color: #3fb573;
  font-size: 1em;
  text-align: center;
  padding: 10px 15px;
  border: 0;
  margin: 10px 0;
}

header {
  height: 200px;
}

header img {
  width: 200px;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 5%;
}



.characters{
  padding-top: 5px;
}

.card-space{
  margin: 5% 0 ;
}

.ant-cards-img{
  width: 240px;
  height: 240px;
}

.form-search{
  margin-top: 5%;

}